.menu-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    color: #fff;
}

.menu-bar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-bar li {
  margin-right: 2rem;
}

.menu-bar li:last-child {
  margin-right: 0;
}